body {
  background-color: #050505;
  color: #ff0033;
  font-family: "Courier New", monospace;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
}

/* Skull */
.skull {
  width: 180px;
  margin: 20px auto;
  display: block;
  filter: drop-shadow(0 0 10px #ff0033);
}

/* Title */
.title {
  font-size: 2.2em;
  margin-bottom: 20px;
  text-shadow: 0 0 12px #ff0033;
}

/* Glitch */
.glitch::before,
.glitch::after {
  content: attr(class);
  position: absolute;
  left: 0;
  top: 0;
  opacity: .1;
}
.glitch::before { transform: translate(3px,0); color:#ff3344; }
.glitch::after { transform: translate(-3px,0); color:#ff1122; }

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  background: black;
  border: 1px solid #ff0033;
  color: #ff0033;
  font-size: 1.1em;
}

button {
  width: 100%;
  padding: 14px;
  background: #ff0033;
  border: none;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px #ff0033;
}

.result {
  margin-top: 20px;
  font-size: 1.5em;
  text-shadow: 0 0 15px #ff0033;
}
